.App {
  text-align: center;
}
.gameBoard {
  justify-content: center;
  display: grid;
  grid-template-rows: 90px 90px 90px;
  grid-template-columns: 90px 90px 90px;
}

.cell{
  background-color: grey;
  border: solid 2px black;  
}